profile {

    // Local development (default)
    standard {
        process.executor = 'local'
        conda.enabled = true
        docker.enabled = false
    }

    // Docker profile
    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
}

process {
    cpus = 2
    memory = '4 GB'
}